<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Title</title>
</head>
<body>
  <h1 th:text="${titulo}"></h1>
  <a th:href="@{/listar}">volver</a>
  <div>
      <form th:action="@{/form}" method="post" th:object="${producto}">

<!--          <input th:if="${producto.id != null}" type="hidden" th:field="*{id}">-->

          <div><label for="name">Nombre</label>
              <div><input type="text" th:field="*{name}"></div>
          </div>
          <div><label for="price">Precio</label>
              <div><input type="number" th:field="*{price}"></div>
          </div>
          <div><label for="createAt">Fecha</label>
              <div><input type="date" th:field="*{createAt}"></div>
          </div>
          <div>
              <div><input type="submit" value="Crear"></div>
          </div>
      </form>
  </div>
</body>
</html>